/* 2. CSS Nesting ↓ */

/* 3. */
#menu {
	& ul {
		margin: 0;
		padding: 0;
	}

	& li {
		display: inline-block;
		list-style-type: none;
		background-color: #111;
	}

	& a {
		display: inline-block;
		padding: 5px 20px;
		text-decoration: none;
		color: #fefefe;
	}
}

/* 4. */
#menu-control {
	color: white;
	padding: 5px 20px;
	cursor: pointer;
	background-color: #111111;
	display: none;
}

/* 4.1 */
#menu-control-input {
	display: none;
}

/* 4.3 */
#menu-control-input:checked + #menu {
	display: block;
}

@media all and (max-width: 700px) {
	/* 4.2 */
	#menu-control {
		display: inline-block;
	}

	/* 5. */
	#menu {
		display: none;  /* 4.3 */

		& li { display: block }
	}

	/* 6. */
	#menu {
		counter-reset: item;

		& li a::before {
			counter-increment: item;
			content: counter(item) ") ";
			color: orange;
		}
	}
}

/* 7. */
#menu {
	& a::after {
		content: " " attr(data-state);
		color: red;
	}
}

/* 8. */
#menu {
	& li:nth-child(2n) {
		background-color: #555;
	}
}

/* 9. */
#custom-checkbox-input {
	display: none;

	&:checked + #custom-checkbox::before {
		left: 100%;
		transform: translateX(-100%);
		background: green;
	}
}

#custom-checkbox {
	overflow: hidden;
	width: 60px;
	height: 30px;
	border-radius: 30px;
	background: lightblue;
	position: relative;
	display: block;
	cursor: pointer;

	&::before {
		position: absolute;
		content: "";
		display: block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: red;
		left: 0;
		transition: all 0.2s ease;
	}
}