@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin,latin-ext);
@import url(https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css);

:root {
	font-family: ubuntu, sans-serif;
	--footer-height: 48px;
	--padding-side: 60px;
	--color: rgb(0, 99, 168);
	--marker-opacity: 1 !important;
}

a {
	text-decoration: underline !important;
	background: transparent !important;
}

img {
	vertical-align: middle;
}

.slide h1 {
	background-color: #231F20;
	color: var(--bg);
	padding: 8px var(--padding-side);
	margin: 0;
	margin-bottom: 16px;
}

h1 code {
	font-size: 100%;
	line-height: 1;
}

.slide > * {
	margin-left: var(--padding-side);
	margin-right: var(--padding-side);
}

.slide::before {
	content: url("cvut.png");
	position: absolute;
	right: 0;
	bottom: var(--footer-height);
}

.slide::after {
	content: "ondrej.zara@firma.seznam.cz";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: var(--footer-height);
	line-height: var(--footer-height);
	padding: 0 var(--padding-side);
	background-color: var(--color);
	color: var(--bg);
	font-size: 70%;
}

pre {
	background-color: #e0e0e0;
	border-radius: 8px;
	padding: 8px 0;
}

pre div:hover {
	background-color: #d0d0d0;
}

@media screen {
	body::after {
		content: "";
		position: fixed;
		left: 0;
		bottom: 0;
		height: 3px;
		background-color: #fff;
		-webkit-transition: all 1s;
		-moz-transition: all 1s;
		-o-transition: all 1s;
		transition: all 1s;
		box-shadow: 0 0 2px 1px #fff;
		width: calc(100% * var(--current) / var(--total));
	}
}
